body{
	background-color:#f5f5f5;
	font-family:Arial;
}

span.blogTitle{
	color:white;
	font-size:20px;
	font-weight:bold;
}

h1.jumbotronTitle{
	color:white;
}

div.pagePart{
	background-color:#f5f5f5;
	margin-top:60px;
	margin-bottom:100px;
	width:100%;
	display:flex;
	flex-direction:row;
    alien-item:flex-start;
    justify-content:space-around;
}

div.userInfo{
	margin:0px 5px 20px 50px;
	width:300px;
	height:500px;
	border:0.5px solid #eeeeee;
	background-color:white;
	display:flex;
	flex-direction:column;
}
div.userInfo img{
	margin:0 auto;
	margin-top:55px;
	width:100px;
	height:100px;
	position:relative;
}
div.introduction{
	margin:0 auto;
	margin-top:10px;
	font-size:12px;
	color:#b25b57;
}
div.name{
	margin:0 auto;
	margin-top:10px;
	font-size:20px;
	font-weight:bold;
	color:black;
}
div.blogContainer{
	margin:0px 50px 20px 5px;
	width: 800px;
}
div.blogItemStick{
	width:100%;
	height:150px;
	background-color:white;
	border:0.5px solid #eeeeee;
	margin-bottom:10px;
	padding:20px;
	position:relative;
}
div.blogItem{
	width:100%;
	height:150px;
	background-color:white;
	border:0.5px solid #eeeeee;
	margin-bottom:10px;
	padding:20px;
	position:relative;
}
div.pInfoHeader{
	position:absolute;
	width:300px;
	height:110px;
	background-color:#b72e33;
	margin:0;
	z-index:0;
}
div.blogContainer a{
	text-decoration:none;
}
div.blogContainer a:hover{
	color:#b72e33;
}
div.stickBanner{
	width:100%;
	height:5px;
	background-color:#b72e33;
	margin:0;
}
div.blogTitle{
	font-size:25px;
	font-weight:bold;
	color:black;
}
div.blogAbstract{
	font-size:15px;
	color:#404040;
	margin-left:10px;
}
div.blogDate{
	font-size:12px;
	color:#404040;
	float:right;
	position:absolute;
	right:15px;
	bottom:15px;
}
nav.pageNav{
	margin:0 auto;
}
div.blogBody{
	background-color:white;
	border:0.5px solid #eeeeee;
}
div.blogBody ol.pathNav{
	background-color:white;
}
div.blogTitleInPage{
	padding-left:50px;
	font-size:bold;
	font-size:30px;
}
div.blogTextInPage{
	clear:both;
	padding:20px 30px 50px;
	font-size:15px;
}
div.blogTextInPage p{
	text-align:justify;
	text-indent:20px;
}
div.blogDateInPage{
	font-size:12px;
	color:#404040;
	margin:30px;
}