body{
	background-color:#f5f5f5;
}

span.blogTitle{
	color:white;
	font-size:20px;
	font-weight:bold;
}

.jumbotronBackground{
	position:absolute;
	margin-top:0;
	width:100%;
	z-index:-1;
}

div.pagePart{
	background-color:#f5f5f5;
	margin-top:60px;
	margin-bottom:100px;
	width:100%;
	display:flex;
	flex-direction:row;
    alien-item:flex-start;
    justify-content:space-around;
}

div.userInfo{
	margin:0px 5px 20px 50px;
	width:300px;
	height:500px;
	border:0.5px solid #eeeeee;
	background-color:white;
	display:flex;
	flex-direction:column;
}
div.userInfo img{
	margin:0 auto;
	margin-top:55px;
	width:100px;
	height:100px;
	position:relative;
}
div.introduction{
	margin:0 auto;
	margin-top:10px;
	font-size:12px;
	color:#b25b57;
}
div.name{
	margin:0 auto;
	margin-top:10px;
	font-size:20px;
	font-weight:bold;
	color:black;
}
div.blogContainer{
	margin:0px 50px 20px 5px;
	width: 800px;
	border:0.5px solid #eeeeee;
	background-color:white;
}
div.pInfoHeader{
	position:absolute;
	width:300px;
	height:110px;
	background-color:#b72e33;
	margin:0;
	z-index:0;
}